/* Home Banner */

#home-banner {
  height: 50%;
  width: 100%;
  overflow: hidden;
}

#home-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: bisque;
}

#home-message > div {
  width: 60%;
  text-align: center;
}
/* Expanding Cards */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  overflow: scroll;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.5s;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* Home Banner */
#home-donate {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  padding: 2rem;
  background-color: antiquewhite;
}

#home-donate img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 1em;
}

#home-donate h1 {
  font-size: 4em;
}

#home-donate p {
  font-size: x-large;
}

#autotext {
  font-size: 3em;
}

#home-message {
  font-size: x-large;
}
