/* Product Info */

#product-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6em;
}

.product-image {
  height: 50%;
  width: 40%;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product-desc {
  width: 40%;
  padding: 2rem;
  font-size: x-large;
  text-align: center;
}

/* button */
.button-12 {
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  background: #6e6d70;

  color: #dfdedf;
  user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  outline: 0;
}

/* Collapsable */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  text-align: center;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: scroll;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px 12px;
  text-align: center;
}

th {
  background-color: #dbd5d5;
}

/* Alternating row colors */
tr:nth-child(even) {
  background-color: #c5bbbb;
}
